.jumbotron {
    background-image: url("../../images/pug.jpg"); 
    /* background-repeat: no-repeat;*/ 
     background-size: cover; 
    /* background-size: 100% 100%; */
    background-position: center center;
    height: 70vh;
}