.allCards {
    background: #fff;
    border-radius: 2px;
    height: 150px;
    position: relative;
    width: 200px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
  }
  
  .allCards > .img-container {
    height: 100%;
    overflow: hidden;
    background: white;
  }
