
header.masthead {
    background-image: url("../../images/dog1.jpg");
    margin-bottom: 50px;
    background-repeat: no-repeat;
    /* background-color: gray; */
    /* background-attachment: scroll;*/
    position: relative;
    height: 300px;
    width: 100%;
};